{%extends 'base.html'%}
{% block content %}

<style>
body {
  align-items: center;
  background-color: rgb(91, 1, 174);
  justify-content: center;
  display: flex;
  height: 97vh;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 480px;
  padding: 20px;
  width: 320px;
}

.title{
  color: #eee;
  font-family: Tahoma;
  text-align: center;
  font-size: 40px;
  font-weight: 900px;
  margin-top: 30px;
}

.input_container{
  height: 60px;
  position: relative;
  width: 100%;
}

.container_1{
  margin-top: 35px;
}
.container_2{
  margin-top: 20px;
}

input, textarea{
  background-color: #303245;
  box-sizing: border-box;
  border-radius: 12px;
  border: 0;
  color: #eee;
  font-size: 19px;
  height: 100%;
  padding: 0px 19px 0px;
  width: 100%;
}

.submit{
  background-color: rgb(129, 0, 221);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  width: 100%;
}
.submit:active{
  background-color: rgb(3, 97, 5);
}
.submit:hover{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

</style>

<body>

<div class="form">
<div class="title">Buat Title Task Kamu!</div>
  <form method="POST">
    {% csrf_token %}
    <div class="input-container container_1">
        <input type="text" name="title" placeholder="Title Task!"required>
        <div class="cut"></div>
      </div>
      <div class="input-container container_2">
        <textarea name="description" placeholder="Deskripsi Task" required ></textarea>
      </div>

    <button type="text" class="submit">Submit</button>
</form>
</div>

</body>
{% endblock content %}